app-header {
	background-color: aqua;
}

router-outlet {
	scrollbar-width: thin;
	scrollbar-color: white white;
}

router-outlet::-webkit-scrollbar { width: 1px; }
router-outlet::-webkit-scrollbar-track { background: white; }
router-outlet::-webkit-scrollbar-thumb { border-radius: 1px; }



app-footer {
	background-color: aqua;
}