<div class="page ui_page">

	<!-- nav header -->
	<nav id="navbar" class="navbar navbar-expand-sm navbar-dark fixed-top btn-success" style="float:left;">
		<div class="container" style="flex-wrap: wrap;">			
			<span (click)="showProfilePage('cookDashboard')">
				<fa-icon
					class="icon_bs_left"
					[icon]="faChevronLeft">
				</fa-icon>
			</span>
	
			<span class="navTitle" 
				id="title" 
				(click)="showProfilePage('cookDashboard');"
			>
				profile.company <!--{{ profile.company }}-->
			</span>

			<button type="button" class="navbar-toggler" 
				data-bs-toggle="collapse" 
				data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a (click)="showProfilePage('profilePrivate');" class="nav-item nav-link">Privacy</a>
					<a (click)="showProfilePage('emailAddresses');" class="nav-item nav-link">Emails</a>
					<a (click)="showProfilePage('addresses');" class="nav-item nav-link">Locations</a>
					<a (click)="showProfilePage('hours');" class="nav-item nav-link">Hours</a>
					<a (click)="showProfilePage('phoneNumbers');" class="nav-item nav-link">Phones</a>
					<a (click)="showProfilePage('photos');" class="nav-item nav-link">Logos</a>
				</div>

				<div class="navbar-nav ml-auto">
					<a class="navbar-brand" style="color: white;">
						Profile
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- end nav header -->


	<!-- main element for Google's javascript validations. -->
	<main class="main">
	<div class="ui_body">
		<div id="ui_verbage" class="row">
			<div class="col-12">
				<h3>Profile</h3>
				<p>Provide your progile data below.</p>
			</div>
		</div>
	
	
		<div class="ui_outer row">
		<!-- BEGIN QUICK START INNER INTERFACE SECTION -->
		<div id="ui_inner" class="col-12">
		
		<!-- toast -->
		<div #myToast id="emailToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
	
			<div class="toast-header">
				<!--<img src="..." class="rounded mr-2" alt="...">-->
				<strong class="toast_text mr-auto">Something is wrong</strong>
				<button 
					type="button" 
					class="ml-2 mb-1 close"
					aria-label="Close"
					style="float: right;"
					(click)="closeToast()"
				>
					<span id="times" aria-hidden="true">&times;</span>
				</button>
			</div>
	
			<div class="toast-body toast_text">
				Hello, world! This is a toast message.
			</div>
		</div>
	
	
	
	
		<div class="row">
			<div class="col">							
				<ul class="list-group">


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('profilePrivate');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Privacy</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('profilePrivate');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('profileName');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Profile</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('profileName');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('profileDelivery');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Delivery</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('profileDelivery');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('emailAddresses');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Emails</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('emailAddresses');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('addresses');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Addresses/Locations</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('addresses');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('hours');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Hours of Operations</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('hours');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('phoneNumbers');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Phone Numbers</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('phoneNumbers');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('photos');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Logos</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('photos');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>


					<li class="list-group-item d-flex justify-content-between align-items-center" (click)="showProfilePage('express');">
						<div class="mpk-list-item">
							<div class="mpk-list-item-left">Connect to Ecommerce</div>
							<div class="mpk-list-item-right" (click)="showProfilePage('express');">
								<fa-icon class="icon_bs_right"[icon]="faChevronRight"></fa-icon>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	
	
	
		</div>
		<!-- END QUICK START INNER INTERFACE SECTION -->
		</div><!-- qs_outer_interface -->
	</div><!-- quickstart_body -->
	</main>
	
	
	
	
	<!-- nav footer -->
	<nav id="mpkFooter" class="navbar mpkFooter fixed-bottom btn-success">
		<p class="footerItem footerItemGrid">
			<a class="footerItemGridItem" href="#">Terms</a>
			<a class="footerItemGridItem" href="#" >Privacy</a>
		</p>
		<p class="footerItem">Copyright &copy; 2015 My Personal Kitchen</p>
	</nav>
	
	</div>
	
	<!-- <mpkfooter version="1.01" pagename="profile"></mpkfooter> -->