<!-- main element for Google's javascript validations. -->
<main>
	<a routerLink="/food" class="nav-link">Food List</a>
	<!-- Container for the demo -->
	<div class="list-group">
		<div
			*ngFor="let listProperty of Menus"
			(click)="manage(listProperty.url);"
			class="{{ listProperty.classes }}"
			[ngStyle]="{'border-bottom':'1px solid #ffffff','font-size':'x-large'}"
		>

			<div id="{{ listProperty.url }}">
				<div class="card-icon" style="padding-top: 1rem; width: 50px;">
					<span>
						<i class="{{ listProperty.icon }}" aria-hidden="true" style="color: #19aa8d; font-size: xx-large"></i>
					</span>
				</div>
				<div style="margin-left: 1rem;">
					<span class="list-group-item-heading">
						{{ listProperty.heading }}
					</span>
					<p class="list-group-item-text">{{ listProperty.text }}</p>
				</div>
			</div>

		</div>

	</div>
</main>